.popover {
	position: relative;
	width: auto;
	display: inline-block;
	.popover-hover{
		
	}
	.popover-content{

		background: #fff;
		box-shadow: 0 0 5px silver; 
		margin: 5px 0;
		position: absolute;

		.popover-items-content{
			margin: 10px;
			position: relative;
			right: 0;
			white-space: nowrap;
		

		}

	}
}
p{
	
		&.active{
			border: solid red;
		}
	
}